<nav class="navbar navbar-expand-md fixed-left" style="background-color: #e3f2fd; color:#0676F8;">
  <div class="navbar-brand text-center rounded" id="navbar-header">
    <img class="img-fluid" src="../../assets/logo-supsi.png">
    <h6>Tiforma Blockchain Version</h6>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-content-items"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar-content-items">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/students">
          <i class="material-icons">group</i><span>Studenti</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/departments">
          <i class="material-icons">dashboard</i><span>Dipartimenti</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/courses">
          <i class="material-icons">style</i><span>Corsi</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/modules">
          <i class="material-icons">class</i><span>Moduli</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/formations">
          <i class="material-icons">school</i><span>Formazione</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/semesters">
          <i class="material-icons">event</i><span>Semestre</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/certifications">
          <i class="material-icons">beenhere</i><span>Certificazione</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLinkActive]="['active']" routerLink="/search">
          <i class="material-icons">search</i><span>Ricerca</span></a></li>
      <li class="nav-item" *ngIf="isLogged()" (click)="logout()"><a class="nav-link">
        <i class="material-icons">lock_open</i><span>Logout</span></a></li>
      <li class="nav-item" *ngIf="isAdmin()" (click)="router.navigate(['/register']);"><a class="nav-link">
            <i class="material-icons">check_circle_outline</i><span>Register</span></a></li>
            
      <!--<li class="nav-item align-items-end ml-auto"><a class="nav-link" href="http://localhost:3000/auth/github">
                              <i class="material-icons">lock</i><span>Sign with github</span></a></li>-->
    </ul>
  </div>
</nav>